{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "commonjs": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "JSX": true
  },
  "plugins": [
    "import",
    "react",
    "react-hooks",
    "@typescript-eslint/eslint-plugin"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": { "sourceType": "module" },
  "rules": {
    "no-alert": "error",
    "no-console": "warn",
    "prefer-const": "error",
    "default-case": "warn",
    "eol-last": "error",
    "object-shorthand": "error",
    "require-atomic-updates": "error",
    "no-unused-private-class-members": "warn",
    "no-promise-executor-return": "error",
    "no-unmodified-loop-condition": "warn",
    "eqeqeq": ["error", "smart"],
    "no-duplicate-imports": ["error", { "includeExports": true }],
    "@typescript-eslint/consistent-type-imports": [
      "error",
      { "fixStyle": "inline-type-imports" }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": [
          "const",
          "let",
          "var",
          "directive",
          "function",
          "class",
          "block",
          "block-like",
          "multiline-block-like"
        ],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": ["const", "let", "var", "directive"],
        "next": ["const", "let", "var", "directive"]
      },
      {
        "blankLine": "always",
        "prev": ["multiline-const", "multiline-let"],
        "next": "*"
      }
    ],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.d.ts"],
      "extends": [
        "plugin:import/typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "parserOptions": {
        "sourceType": "module",
        "project": ["tsconfig.json"]
      }
    },
    {
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": [
        "plugin:testing-library/react",
        "plugin:jest-dom/recommended",
        "plugin:jest/recommended"
      ]
    }
  ],
  "settings": { "react": { "version": "detect" } }
}
