.root {
  font-family: Roboto;
  overflow: hidden;
}

.list {
  width: 100%;
  height: 24px;
  margin: 0;
  display: flex;
  padding: 0;
  position: relative;
  direction: ltr;
  flex-wrap: nowrap;
  list-style: none;
  overflow-x: auto;
  overflow-y: hidden;
}

.item {
  color: #707070;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  align-items: center;
  flex-shrink: 0;
  font-family: inherit;
  font-weight: 400;
  margin-right: 4px;
  transition: color 240ms ease;
}

.item[role="presentation"] {
  transition: transform 240ms ease;
}

.item > a {
  color: currentColor;
}

.item:not([role="presentation"]):hover {
  color: #212121;
}

.item:not([role="presentation"]):hover ~ .item[role="presentation"] {
  transform: rotate(180deg);
}

.item:last-child > a {
  text-decoration: none;
  color: #000;
}
