.groupRow {
  border: 1px dotted #b3b3b3;
  padding: 16px;
  border-radius: 8px;
  font-family: Roboto;
}

.groupRoot {
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

.groupLabel {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
  display: block;
}

.radioRow {
  display: flex;
  align-items: center;
  height: 40px;
  font-family: Roboto;
}

.radioRow + .radioRow {
  border-top: 1px solid #eaeaea;
}

.radioLabel {
  font-size: 16px;
  font-weight: 400;
  margin-left: auto;
}

.radio {
  border: 1px solid #c2c2c2;
  border-radius: 50%;
  box-shadow: none;
  position: relative;
  appearance: none;
  padding: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  transition: border-color 240ms ease, color 240ms ease;
}

.radioFocusVisible {
  outline: 2px solid #1387ec;
  outline-offset: 1px;
}

.radioChecked {
  color: #ec135f;
  border-color: #ec135f;
}
